<div class="modal fade bs-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="signin-modal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <%= render partial: 'auths/form' %>
    </div>
  </div>
</div>
