<div class="col-md-12" id="top-panel">

  <div class="top-panel-content row">
    <div class="col-md-6">
      <h1>Helping the helpless Give a helping hand</h1>
    </div>

    <!-- Sign up form loaded here on click -->
    <div class="col-md-6" id="form-stuff">
      <% if !current_user %>
        <button class="btn btn-large btn-primary" id="sign-up">Sign up now!</button> <br>
        <%= link_to 'sign in', '#sign-in', id: '#sign-in' %>
      <% end %>
    </div>
  </div>
</div>

<div class="col-md-12 col-lg-12 col-sm-12" id="profiles-panel">
  <!-- Add a person to application -->
    <!-- <%= link_to 'Help a person', new_person_path %> -->


  <!-- search box here -->
  <form class="navbar-form">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="search">
    </div>
    <!-- <button type="submit" class="btn btn-default">Submit</button> -->
  </form>

  <!-- Profiles -->
  <!--  -->
  <div class="row col-md-12" id="profiles">
    <div class="col-sm-2 col-md-2 col-lg-2"></div>
    <div class="profile col-md-2 col-sm-2 col-lg-2"><p>Profile 1</p></div>
    <div class="profile col-md-2 col-sm-2 col-lg-2"><p>Profile 1</p></div>
    <div class="profile col-md-2 col-sm-2 col-lg-2"><p>Profile 1</p></div>
    <div class="profile col-md-2 col-sm-2 col-lg-2"><p>Profile 1</p></div>
    <div class="col-sm-2 col-md-2 col-lg-2"></div>
  </div>

  <div class="row col-md-12" id="profiles">
    <div class="col-sm-2 col-md-2 col-lg-2"></div>
    <div class="profile col-md-2 col-sm-2 col-lg-2"><p>Profile 1</p></div>
    <div class="profile col-md-2 col-sm-2 col-lg-2"><p>Profile 1</p></div>
    <div class="profile col-md-2 col-sm-2 col-lg-2"><p>Profile 1</p></div>
    <div class="profile col-md-2 col-sm-2 col-lg-2"><p>Profile 1</p></div>
    <div class="col-sm-2 col-md-2 col-lg-2"></div>
  </div>
</div>

<script>
  $("#sign-up").click(function() {
    // $.load("users/new #sign-up-form", function(data) {
      // $("#form-stuff").html(data);
    // });
  $("#form-stuff").load("users/new #sign-up-form");
  });
</script>

