<div id="user-tab">

  <div class="user-top-tab">
    <ul class="nav nav-tabs">
      <li class="active"><%= link_to "Add new person", '#' %></li>
      <li><%= link_to "Your info", "#" %></li>
      <li><%= link_to "Other", "#" %></li>
    </ul>
  </div>

  <div class="user-inner-tab">
  </div>
</div>
