<div class="user-info-tab">
  <% if current_user %>
    <h2>Welcome <%= current_user.name %>!</h2> <br>
    <div class="user-info-stats">
      People Helped: <%= current_user.people.count %>
      <br> <br> <br> <p> Show user's profile, stats, badges, groups, and other cool things here</p>
    </div>
  <% end %>
</div>
